/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-color: #ffc2a0;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  padding-left: 2px;
  border-radius: 12px;
}
.todoList-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}
.heading {
  color: #ff8542;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  .todoList-container {
    width: 100%;
  }
  .card-container {
    width: 60%;
  }
  .heading {
    font-size: 34px;
  }
}
